<<<<<<< HEAD
button {
    width: 4rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: .5rem;
}
.container {
    background-color: aqua;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 5px 5px rgb(92, 79, 79);
}
.btn-add button {
    background-color: rgb(168, 234, 168);
}
.btn-add button:hover {
    background-color: green;
}
.btn-subtract button {
    background-color: rgb(191, 102, 102);
}
.btn-subtract button:hover {
    background-color: red;
}

.btn-wrapper {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.btn-container{
    display: flex;
    gap: .5rem;
}
p {
    text-align: center;
    font-size: 2rem;
    font-weight:bold;
    color: rgb(8, 85, 89);
    background-color: rgba(149, 190, 193,.5);
}

.count {
    text-align: center;
    /* font-size: 3rem; */
    font-weight:bold;
    color: blue;
}
=======
.main {
    max-width: 500px;
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow:
      0 2px 4px 0 rgb(0 0 0 / 20%),
      0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  }
  
  @media screen and (min-width: 600px) {
    .main {
      width: 70%;
    }
  }
  
  label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
  }
  
  .lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .btn-wrapper {
    margin-bottom: 2rem;
  }
  
  .btn-menu {
    flex-basis: 32%;
  }
  
  .active {
    color: green;
  }
  
  ul {
    padding-inline-start: 0;
  }
  
  ul li {
    list-style: none;
  }
  
>>>>>>> master
