button {
    width: 4rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: .5rem;
}

.btn-add button {
    background-color: rgb(168, 234, 168);
}
.btn-add button:hover {
    background-color: green;
}
.btn-subtract button {
    background-color: rgb(191, 102, 102);
}
.btn-subtract button:hover {
    background-color: red;
}

.btn-wrapper {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.btn-container{
    display: flex;
    gap: .5rem;
}

.count {
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    color: blue;
}